*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    font-family:sans-serif;
}

body{
    background:#151b29;
    padding-top:70px;
}

/* HEADER FIJO */
header{
    width:100%;
    height:70px;
    background:#253357;

    position:fixed;
    top:0;
    left:0;
    z-index:999;

    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
}

/* LOGO */
.logo img{
    height:45px;
}

/* MENU LINKS */
header ul{
    display:flex;
    gap:20px;
}

header ul li a{
    color:#fff;
    font-size:16px;
    transition:.3s;
}

header ul li a:hover{
    color:#00c3ff;
}

/* BUSCADOR */
.search-box{
    position:relative;
    display:flex;
    align-items:center;
    background:#fff;
    border-radius:30px;
    width:260px;
    height:42px;
    border:2px solid #00c3ff;
}
#srch{
    border-radius: 20px;
}
i{
    border-radius: 20px;
}

.search-box input{
    flex:1;
    height:100%;
    border:none;
    outline:none;
    padding:0 12px;
    font-size:15px;
}

.search-box button{
    width:50px;
    height:100%;
    border:none;
    background:#00c3ff;
    color:#fff;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

.search-box button:hover{
    background:#009ed1;
}

/* RESULTADOS */
#resultados{
    position:absolute;
    top:45px;
    left:0;
    width:100%;
    background:#253357;
    border-radius:10px;
    overflow:hidden;
    z-index:9999;
}

.item-busqueda{
    color:#fff;
    padding:10px;
    cursor:pointer;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.item-busqueda:hover{
    background:#00c3ff;
}

/* ICONOS OCULTOS POR DEFECTO */
#chk1,
#chk2{
    display:none;
}

.menu,
.icon-search{
    display:none;
    color:#fff;
    font-size:26px;
    cursor:pointer;
}

/* ------------------- RESPONSIVE ------------------- */
@media(max-width:900px){

    .menu,
    .icon-search{
        display:block;
    }

    /* MENU MOBILE */
    header ul{
        position:fixed;
        top:70px;
        left:-100%;
        width:100%;
        height:calc(100vh - 70px);
        background:#253357;

        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:30px;

        transition:.4s;
    }

    #chk1:checked ~ ul{
        left:0;
    }

    /* OCULTAR BUSCADOR EN MOBILE */
    .search-box{
        display:none;
        position:absolute;
        top:75px;
        left:10px;
        width:calc(100% - 20px);
        z-index:9999;
    }

    /* MOSTRAR BUSCADOR AL TOCAR LUPA */
    #chk2:checked ~ .search-box{
        display:flex;
    }
}