:root {
    --bg-main: #253357;        /* fondo general */
    --bg-secondary: #151b29;   /* navbar / footer */

    --color-accent: #00c3ff;   /* detalles y hover */

    --text-main: #ffffff;      /* texto principal */
    --text-secondary: #979797; /* texto footer/menu */

    --hover-light: #ffffff;    /* hover claro */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background: var(--bg-main);
    font-family: sans-serif;
    text-transform: capitalize;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-secondary);
}
header h1 {
    color: var(--text-main);
} 
main {
    width: 80%;
    height: 500px;
    display: inline-block;
    justify-content: center;
    top: 100px;
    color: var(--text-main);
}